<%- include('header') %>
<%- include('navbar') %>

<div id="content-wrapper">

  <div class="container-fluid">



    <div class="row">

      <div class="col-12 col-md-4 mb-3 chart">
        <img class="img-fluid" src="/images/chart1.jpg">
      </div>

      <div class="col-12 col-md-4 mb-3 chart">
        <img class="img-fluid" src="/images/chart2.jpg">
      </div>

      <div class="col-12 col-md-4 mb-3 chart">
        <img class="img-fluid" src="/images/chart3.jpg">
      </div>

      <div class="col-12 col-md-4 mb-3 chart">
        <img class="img-fluid" src="/images/chart4.jpg">
      </div>
      
    </div>

  </div>
  <!-- /.container-fluid -->

  <%- include('footer') %>